*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: $grisoscuro;
    color: $blanco;
    overflow-x: hidden;
}
li{
    list-style: none;
}

a {
    text-decoration: none;
    color: $blanco;
    cursor: pointer;
}

p {
    margin: 0;
}

#catalogo {
    width: 70%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    flex-wrap: wrap;
}