*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: $fondo;
    color: $blanco;
    overflow-x: hidden;
}

main {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

li{
    list-style: none;
}

a {
    text-decoration: none;
    color: $blanco;
    cursor: pointer;
}

p {
    margin: 0;
    font-family: $fuenteParrafos;
}

#catalogo {
    width: 70%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    flex-wrap: wrap;
}