.header {
    font-family: $fuenteHeading;
    background-color: $negro;
    padding: $spacing $spacing;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    color: $blanco;
    align-items: center;
}


.nav-home {
    text-align: center;
    font-family: $fuenteHeading;
    font-weight: 700;
    font-size: 1.4rem;
}

.header-nav-lista {
    display: flex;
    margin-bottom: 0;
}

.nav-link {
    margin: $spacing;
}