$fuenteHeading: 'Fira Sans Condensed', sans-serif;
$fuenteParrafos: 'Quicksand', sans-serif;
$fuenteFirma: 'Comfortaa', cursive; 
$blanco: #fcfcfc;
$grisoscuro: #1a1a1a;
$negro: #000000;
$primario: #AD343E;
$secundario: #ba580d;
$fondo: #0a0a0a;
$spacing: 1rem;

