$fuenteHeading: 'PT Sans', sans-serif;
$fuenteParrafos: 'Open Sans', sans-serif;
$fuenteFirma: 'The Nautigal', cursive;
$blanco: #ffffff;
$grisoscuro: #252525;
$negro: #000000;
$primario: #10411b;
$spacing: 1rem;
